<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Tickets</h2>
      <% if @tickets.count > 0 %>

          <% @tickets.each do |ticket| %>
            <div class="row">
              <div class="col-md-6">
                <%= link_to ticket.title, ticket_path(ticket) %>
              </div>
              <div class="col-md-6 pull-right">
                <%= link_to 'Edit', edit_ticket_path(ticket) %> | <%= link_to 'Delete', ticket_path(ticket),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
              </div>
            </div>

          <% end %>

        </table>

      <% else %>

        <%= link_to 'Want to create a ticket?', new_ticket_url %>

      <% end %>

    </div>
  </div>
</div>
