<section class="dashboard generic inner">

  <% if @tickets.count > 0 %>
    <section class="title-card margin-bottom">
      <section class="title">No Rush</section>
      <section class="card">
        <% @tickets.each do |ticket| %>
          <%= render :partial => '/tickets/row', :locals => { :ticket => ticket } %>
        <% end %>
      </section>
    </section><!-- / title-card -->
  <% end %>

  <% if @sorted_tickets.count > 0 %>
    <% @sorted_tickets.each do |due_date, tickets| %>
      <section class="title-card margin-bottom">
        <section class="title"><%= due_date %></section>
        <section class="card">
          <% tickets.each do |ticket| %>
            <%= render :partial => '/tickets/row', :locals => { :ticket => ticket } %>
          <% end %>
        </section>
      </section><!-- / title-card -->
    <% end %>
  <% end %>

  <% if @tickets.count == 0 && @sorted_tickets.count == 0 %>
    <div class="cell"><%= link_to 'Want to create a team?', new_team_path %></div>
  <% end %>
</section><!-- / inner -->
