<section class="heading small-margin">
  <strong><%= comment.user.display_name %> says:</strong>
  <nav><% if policy(comment).update? %>
    <%= link_to 'Delete', [comment.ticket, comment],
           method: :delete,
           data: { confirm: 'Are you sure?' },
           class: 'highlight blue' %>
  <% end %></nav>
</section>
<section class="cell margin-bottom">
  <p><%= comment.description %></p>
</section>
