<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1>Edit ticket</h1>

      <%= render 'form' %>

      <%= link_to 'Return to Ticket', ticket_url(@ticket) %>
    </div>
  </div>
</div>
