<div class="inner">
  <section class="generic">

    <section class="heading">
      <h2>Your Projects</h2>
    </section>

    <% @projects_grouped_by_team.each do |team| %>
      <section class="heading">
        <h2><%= link_to team.title, team_url(team) %></h2>
        <nav><%= link_to 'Create Project', new_project_url(:team_id => team.id), class: 'highlight blue' %></nav>
      </section>

      <% if team.projects.any? %>
        <div class="projects margin-bottom">
          <% team.projects.each do |project| %>
            <div class="cell">
              <%= link_to project.title, project_path(project) %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </section>
</div>
